*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: cadetblue;
    color: aliceblue;

	box-sizing: border-box;
}

h1{
    margin-top: 3rem;
}

